<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.dingshuai.mapper.MsgMapper">

    <insert id="addMsg">
        insert into messages(msgSender, msgTitle, msgContent)
        values (#{msgSender}, #{msgTitle}, #{msgContent});
    </insert>

    <delete id="deleteById">
        delete
        from messages
        where msgId = #{msgId};
    </delete>

    <update id="updateMsg">
        UPDATE messages
        SET msgSender       = #{msgSender},
            msgContent      = #{msgContent},
            msgStatus       = #{msgStatus},
            msgReplyContent = #{msgReplyContent}
        WHERE msgId = #{msgId}
    </update>

    <select id="findById" resultType="Messages">
        select *
        from messages
        where msgId = #{msgId};
    </select>

    <select id="findAll" resultType="Messages">
        select *
        from messages;
    </select>
</mapper>