<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.dingshuai.mapper.UserMapper">
    <insert id="addUser">
        insert into users(userName, passWord, location, phoneNumber)
        values (#{userName}, #{passWord}, #{location}, #{phoneNumber});
    </insert>

    <delete id="deleteById">
        delete
        FROM users
        where userId = #{userId};
    </delete>

    <update id="update">
        UPDATE users
        SET userName    = #{userName},
            passWord    = #{passWord},
            location    = #{location},
            phoneNumber = #{phoneNumber}
        WHERE userId = #{userId};
    </update>

    <select id="findById" resultType="User">
        SELECT *
        FROM users
        WHERE userId = #{userId}
    </select>

    <select id="findAll" resultType="User">
        select *
        FROM users;
    </select>

    <select id="checkPwd" resultType="User">
        SELECT *
        FROM users
        WHERE userName = #{userName}
          AND passWord = #{passWord};
    </select>

    <select id="checkIfExists" resultType="User">
        SELECT *
        FROM users
        WHERE userName = #{userName};
    </select>

</mapper>